CompileFlags:
  # https://github.com/clangd/clangd/issues/844
  # https://github.com/espressif/esp-idf/issues/6721#issuecomment-997150632
  Remove:
    - -fno-shrink-wrap
    - -fno-tree-switch-conversion
    - -mtext-section-literals
    - -mlongcalls
    - -fstrict-volatile-bitfields
