[submodule "components/arduino"]
	path = components/arduino
	url = https://github.com/espressif/arduino-esp32
[submodule "components/Adafruit_SSD1306"]
	path = components/Adafruit_SSD1306
	url = https://github.com/adafruit/Adafruit_SSD1306
[submodule "components/Adafruit-GFX-Library"]
	path = components/Adafruit-GFX-Library
	url = https://github.com/adafruit/Adafruit-GFX-Library
[submodule "components/Adafruit_BusIO"]
	path = components/Adafruit_BusIO
	url = https://github.com/hikl-gustafik/Adafruit_BusIO
[submodule "components/Adafruit_MAX1704X"]
	path = components/Adafruit_MAX1704X
	url = https://github.com/hikl-gustafik/Adafruit_MAX1704X
